{
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
      "semi": ["error", "never"]
  },
  "globals": {
    "TweenMax": true,
    "CSSPlugin": true
  }

}
